body {
   font-family: Verdana;
}

/*------------* HEADER * -------------------------*/
header {
  text-align:center;
}
header a
{
    color:black;
    font-size: x-large;
  }
#LoginRegister {
  background-color:#FFC700;
  width:100%;
}
#LogOffInfo {
  color:#FF0000;
}
#InfoProjekt {
color:#A79E00;
  width:60%;
  background-color: #FFF771;
  }

/*------------* END HEADER *----------------------*/


/*------------* BODY *----------------------*/
#TrueBody h6 {
  font-size:4.4px;
  height:0;
  width:100%;
  background-color:#FFC700;
}
#SectionLoginRegister {
  background-color:#FFC700;
}
#Logowanie {
  background-color:#FF9C00;
  border-top-style:solid;
  border-width:1px;
  text-align:center;
  width:100%;

}
#Rejestracja {
  background-color:#FF9C00;
  border-top-style:solid;
  border-width:1px;
  text-align:center;
  width:100%;
}
#Newsy {
  width:40%;
  color:#A76600;
   }
.LoginRegisterSize {
       width:60%
}
#ZamknijLogowanie {
  color:#000000;
  text-decoration:initial;
}
#ZamknijRejestracje {
  color:#000000;
  text-decoration:initial;
}
#LoginBox {
  margin:5% auto;
  text-align:center;
}
#RegisterBox {
  margin:5% auto;
  text-align:center;
  width:60%;
}



/*------------* END BODY *----------------------*/


/*------------* FOOTER *----------------------*/

#Foot {
  border-top-style:solid;
  border-width:0.5px;
  min-width:100%;
  text-align:left;
  }
footer h5 {
  font-size:small;
  font-weight:lighter;
  position: absolute;
  bottom: 0px;
  color: brown;
  }

/*------------* END FOOTER *----------------------*/


/*------------* OGOLNE *----------------------*/
.GornaKreska {
  border-top-color:#A76600;
  border-top-style:solid;
  border-top-width:1px;
}
.GornyOdstep {
  padding-top:5%;
}
.DolnyOdstep {
  padding-bottom:5%;
}
.TableHead {
  border-bottom-color:#A76600;
  border-bottom-style:solid;
  border-bottom-width:1px;
  color:#333399;
  margin:0 auto;
  text-align:center;
  width:60%;
}
.KomorkaTabeli {
  text-align:left;
}
.SzerokoscBox {
  width:150px;
}
.Brzegi {
  max-width:960px;
  min-width:580px;
  padding-left:20px;
  padding-right:20px;
}
.FloatLeft {
  float:left;
}
.FloatRight {
  float:right;
}
.Centered {
  margin:0 auto;
  text-align:center;
}
.TextBoxWidth {
  max-width:120px;
  min-width:120px;
}
.Width100 {
  max-width:100%;
  min-width:100%;
}
.Width80 {
  max-width:80%;
  min-width:80%;
}
.Width19 {
  min-width:19%;
}

/*------------* ZALOGOWANY *----------------------*/
#Konto {
  background-color:#FFC700;
  border-style:solid;
  border-width:thin;
}
#WylogujB {
  font-size:small;
}
#Wyloguj {
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-style:solid;
  border-left-width:1px;
  min-width:19.7%;
}
#Witaj {
  border-bottom-style:solid;
  border-bottom-width:1px;
  max-width:80%;
  min-width:80%;
}
#ZarzadzanieKontem {
  min-width:60%;
}
#ZarzadzanieKontemB {
  font-size:medium;
}
#MojeOceny {
  border-left-style:solid;
  border-left-width:1px;
  min-width:39%;
}
#MojeOcenyB {
  font-size:medium;
}


/*------------* END ZALOGOWANY *----------------------*/
