body {
    font-family: Verdana;
}

/*------------* HEADER * -------------------------*/
header {
    text-align: center;
}

    header a {
        text-decoration: none;
        color: black;
        font-size: x-large;
    }

#LoginRegister {
    background-color: #FFC700;
    width: 100%;
}

#LogOffInfo {
    color: #FF0000;
}



#InfoProjekt {
  color:#A79E00;
  width:60%;
  background-color: #FFF771;
}

/*------------* END HEADER *----------------------*/


/*------------* BODY *----------------------*/
#TrueBody h6 {
  font-size:4.4px;
  height:0;
  width:100%;
  background-color:#FFC700;
}

#SectionLoginRegister {
    background-color: #FFC700;
}

#Logowanie {
  background-color:#FF9C00;
  border-top-style:solid;
  border-width:1px;
  text-align:center;
  width:100%;
}

#Rejestracja {
  background-color:#FF9C00;
  border-top-style:solid;
  border-width:1px;
  text-align:center;
  width:100%;
}

#Newsy {
   width:40%;
  color:#A76600;
}

.LoginRegisterSize {
  width:60%
}

#ZamknijLogowanie {
    text-decoration: none;
    color: #000000;
}

#ZamknijRejestracje {
    text-decoration: none;
    color: #000000;
}

.LinkButton {
    text-decoration: none;
    color: #000000;
}

#LoginBox {
    text-align: center;
    margin: 5% auto 5% auto;
    /*width: 60%;*/
}

#RegisterBox {
    text-align: center;
    margin: 5% auto 5% auto;
    width: 60%;
}


/*------------* END BODY *----------------------*/


/*------------* FOOTER *----------------------*/

#Foot {
    border-width: 0.5px;
    min-width: 100%;
    text-align: left;
    border-top-style: solid;
}

footer h5 {
    font-size:small;
  font-weight:lighter;
  position: absolute;
  bottom: 0px;
  color: brown;
}

/*------------* END FOOTER *----------------------*/


/*------------* OGOLNE *----------------------*/
.GornaKreska {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}

.GornyOdstep {
    padding-top: 5%;
}

.DolnyOdstep {
    padding-bottom: 5%;
}

.TableHead {
    color: #A76600;
    border-bottom-style: solid;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
    width: 60%;
    margin: 0 auto;
    color:#A76600;
    font-weight:bold;
}

.KomorkaTabeli {
    text-align: left;
}

.SzerokoscBox {
    width: 150px;
}

.Brzegi {
    padding-right: 20px;
    padding-left: 20px;
    max-width: 960px;
    min-width: 580px;
}

.FloatLeft {
    float: left;
}

.FloatRight {
    float: right;
}

.Centered {
    text-align: center;
    margin: 0 auto;
}

.TextBoxWidth {
    min-width: 120px;
    max-width: 120px;
}

.Width100 {
    min-width: 100%;
    max-width: 100%;
}

.Width80 {
    min-width: 80%;
    max-width: 80%;
}

.Width19 {
    min-width: 19%;
    max-width: 19%;
}

.Width30 {
    width: 30%;
    text-align: right;
}

.Width70 {
    width: 70%;
    text-align: left;
}

/*------------* ZALOGOWANY *----------------------*/
#Konto {
 background-color:#FFC700;
  border-style:solid;
  border-width:thin;
}

#WylogujB {
    font-size: small;
    font-style: italic;
}

#Wyloguj {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    min-width: 19.7%;
    min-width: 19.7%;
}

#Witaj {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    min-width: 80%;
    max-width: 80%;
}

#ZarzadzanieKontem {
    min-width: 60%;
    min-width: 60%;
}

#ZarzadzanieKontemB {
    font-size: medium;
}

#MojeOceny {
    border-left-style: solid;
    border-left-width: 1px;
    min-width: 39%;
    min-width: 39%;
}

#MojeOcenyB {
    font-size: medium;
}


#SzukajZespoly {
    border: 0.5px solid #000080;
    width: 33%;
    line-height: 50px;
}

    #SzukajZespoly Table {
        width: 100%;
        position: relative;
        left: 100px;

    }

        /*#SzukajZespoly Table td {
            text-align: left;
        }*/

    #SzukajZespoly #NazwaZespolu {
        width: 100%;
    }

    #SzukajZespoly #GatunekZespolu {
        width: 100%;
    }

#Zarzadzanie {
    border-style: solid;
    border-width: thin;
    width: 80%;
    text-decoration: none;
    background-color: #FF9C00;
    border-top-color: #000000;
}

#Zespoly {
    width: 49.5%;
    border-right-style: solid;
    border-right-width: thin;
}

#Plyty {
    width: 49.5%;
}

#UpdatePanelWyszukaneZespoly {
    width: 66%;
}

.RadioButton {
    font-size: x-small;
    text-align: center;
    vertical-align: middle;
}

/*------------* END ZALOGOWANY *----------------------*/

